<body class="hold-transition login-page"
    style="background-image:  url('assets/img/finca-banano.jpg'); background-size: cover; background-position: center;">
    <div class="login-box"
        style="background: rgb(119,221,102); background: linear-gradient(90deg, rgba(119,221,102,1) 0%, rgba(167,233,156,1) 50%, rgba(215,244,210,1) 100%);">
        <div class="login-logo">
            <a><b>Tierra</b> Prometida</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body" *ngIf="enviado==true">
                <div class="callout callout-success">
                    <h5>Solicitud enviada!  <span class="fas fa-check-circle" style="font-size: 1em; color: rgb(119,221,102);"></span></h5>
                    
                    <p>Revise su correo electrónico para cambiar la contraseña.</p>
                </div>
            </div>
            <div class="card-body login-card-body" >
                <p class="login-box-msg" *ngIf="enviado==false">¿Olvidaste tu contraseña? Aquí puede recuperar fácilmente una nueva contraseña.
                </p>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="enviado==false">
                    <div class="input-group mb-3">
                        <input type="text" name="us_correo" [(ngModel)]="us_correo" class="form-control" placeholder="Correo"
                            required autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!loginForm.form.valid">Solicitar nueva contraseña</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1" >
                    <a [routerLink]="['login']">Iniciar sesión</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>